
  body {
    margin: 0;
    padding: 0;
  }
  .homebody {
    /* min-height: 700px; */

   margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
    /* background-color: #44755B; */
   
  }
  .detailpage p{
    font-size: 0.9rem;
  }
  
  

  .navbar{
    background-color: #44755b9a;
    
  }