{% extends 'user/base.html' %}

{% block content %}
{%load static%}



<div class="" style="min-height: 1024px;">


  <div class="d-flex justify-content-between m-0 p-5">


    <div class=" col-5 p-5">
      <div class="card-body">
        <h5 class="card-title">{{requisition.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <p>Created on <br>{{requisition.date}}</p>
        </h6>

        <div class="">
          <table class="table table-striped">


            <tr>
              <td colspan="2">Submitted By</td>
              <th scope="row">{{requisition.submitted_by}}</th>

            </tr>
            <tr>
              <td colspan="2">Submitted to</td>
              <th scope="row"> {% for r in requisition.send_to.all %}
                {% if r.name != requisition.submitted_by.name %}
                <strong class="m-0 p-0"> {{r}}</strong>
                {% endif %}
                {%endfor%}
              </th>

            </tr>
            <tr>
              <td colspan="2">Expected Date of Delivery</td>
              <th scope="row">
                {% if requisition.status == 'Processing' %}
                <strong class="m-0 p-0">{{requisition.date_of_delivery}}</strong>
                {%endif%}
              </th>

            </tr>
            <tr>
              <td colspan="2">Status</td>
              {% if requisition.status == 'Pending' %}
              <th scope="row" class="bg-danger text-white">{{requisition.status}}</th>

              {% elif requisition.status == 'Processing' %}
              <th scope="row" class="bg-warning text-white">{{requisition.status}}</th>

              {% elif requisition.status == 'Delivered' %}
              <th scope="row" class="bg-success text-white">{{requisition.status}}</th>

              {% endif %}


            </tr>

          </table>
          

        </div>
        <br>



        




       

        <div class="d-flex justify-content-between py-5">
          <div>
            {% if pending_update %}
            <a href="{% url 'update_pending_requisition' requisition.id %}" class="btn btn-primary">UPDATE Requisition</a>
            <!-- <a href="{% url 'delete_requisition' requisition.id %}" class="btn btn-secondary">DELETE</a> -->
            {% endif %}

            {% if update %}
            <a href="{% url 'update_requisition' requisition.id %}" class="btn btn-primary">UPDATE</a>
            <!-- <a href="{% url 'delete_requisition' requisition.id %}" class="btn btn-secondary">DELETE</a> -->
            {% endif %}
          </div>

        </div>




      </div>
    </div>







    <div class="card col-6 p-5 bg-secondary">


      <div class="d-flex flex-column">
        {%for f in files%}
        <div class="px-5 py-1">
          <embed src="{{f.file.url}}" type="" width="100%" height="400" class="card border" />
          <a href="{{f.file.url}}" class="text-white">view file in a new tab</a>

        </div>
        {%endfor%}
      </div>







    </div>

  </div>

</div>

{% endblock %}