{% extends "user/base.html" %}
{% block content %}



{%load static%}
{% load crispy_forms_tags %}



<style>
    .asteriskField {
        display: none;
    }
</style>


<div class="" style="min-height: 1024px; background-color: rgb(23, 54, 62); color: rgb(23, 54, 62);">
    <div class="container p-5">
        <h5 class="text-center mb-5 text-white">Update Requisition</h5>
        <div class="card p-3">
            <div class="d-flex justify-content-around">
                <div class="col-6 p-5">



                    <h6>Title</h6>
                    <h4>{{requisition.title}}</h4>
                    <hr>
                    <br>
                    <table class="table-info table">

                        <tr>
                            <td colspan="2">Date created on</td>
                            <th scope="row">{{requisition.date}}</th>

                        </tr>
                        <tr>
                            <td colspan="2">Submitted By</td>
                            <th scope="row">{{requisition.submitted_by}}</th>

                        </tr>

                    </table>

                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.update_hidden}}
                        {{form.date_of_delivery|as_crispy_field}}
                        {{ form.status|as_crispy_field }}
                        <br>
                        <button class="btn btn-primary" type="submit">Submit</button>

                        <div class="py-3 text-warning">
                            {{form.errors}}
                            {{formfile.errors}}
                        </div>

                    </form>
                </div>

                <div class="col-6 p-3">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{formfile.file_hidden}}
                        <p>{{formfile.file|as_crispy_field}}</p>
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </form>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{formnote.note_hidden}}
                        <p>{{formnote.note|as_crispy_field}}</p>
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}